@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}



nav 

{

    position: fixed;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #42427a;
    margin-top: -143.8rem;
}

   
label img
{
    position: absolute;
    width: 30px;
    margin-top: 0.9rem;
    margin-left: 20px;
}



label p 
{
    position: absolute;
    font-size: 1.3em;
    color: #fff;
    margin-left: 55px;
    margin-top: 1rem;
    font-family: 'Orelega One', cursive;
}






nav ul
{
    float: right;
    margin-left: 0px;
}


nav li 
{
    display: inline-block;
    margin: -5px 12px;
    line-height: 85px;
}


nav a 
{
    color: #000;
    font-size: 10px;
}


nav #icon .navbar {
  display: none;
  float: right;
  padding: 3px;
  margin-top: 0.7rem;
}

.bar1, .bar3 {
  width: 26px;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 15px;
}


.bar2 {
  width: 26px;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 15px;
}


.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -9px);
  transform: rotate(45deg) translate(-5px, -9px);
}








/********Main********/


.main 
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: rgb(7,41,79);
background: linear-gradient(90deg, rgba(7,41,79,1) 0%, rgba(13,59,69,1) 100%);
}



.main h1
{
    position: absolute;
    font-size: 1.3em;
    color: #fff;
    margin-top: 17rem;
}




.main p
{
    position: absolute;
    font-size: 1em;
    color: #fff;
    margin-top: 20rem;
    animation: changeMotion linear 2s infinite alternate;
}



@keyframes changeMotion
{
    0%
    {
        color: rgba(255,255,255,0.8);
    }
    50%
    {
        color: rgba(0,0,0,0.0);
    }
    100%
    {
        color: rgba(255,255,255,0.8);
    }
}




.main a 
{
    position: absolute;
    padding: 13px 45px;
    font-size: 1.1em;
    background: #fff;
    color: #222;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 23rem;
}





/********Loader*********/



.loader
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgb(7,41,79);
background: linear-gradient(90deg, rgba(7,41,79,1) 0%, rgba(13,59,69,1) 100%);
}




.loading {
  border: 16px solid rgba(255,255,255,0.1);
  border-radius: 50%;
  border-top: 16px solid #fff;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




@media only screen and (max-width: 500px) {
    nav ul 
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #42427a;
        top: 54.3px;
        left: -100%;
        text-align: center;
        transition: all 0.6s;
    }
    
    nav li 
    {
        display: block;
    }
    
    nav li a 
    {
        font-size: 25px;
        transition: 0.3s;
        padding: 3px;
        color: #fff;
    }
    
    
    nav li a:hover
    {
        color: rgba(255,255,255,0.2);
        transition: 0.3s;
    }

    nav #icon .navbar {
        display: inline-block;
        float: right;
        padding: 3px;        
        margin-right: 15px;
        margin-top: 0.55rem;
      }
    
    nav #icon
    {
        width: 1px;
         margin-left: 420px;
    }
    
    nav ul.show
    {
        left: 0;
    }


.wpark
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
  background: rgb(7,41,79);
background: linear-gradient(90deg, rgba(7,41,79,1) 0%, rgba(13,59,69,1) 100%);
}



.wpark .one
{
    position: absolute;
    font-size: 2em;
    color: #fff;
    margin-top: 5rem;
    line-height: 25px;
    font-family: 'Orelega One', cursive;
    animation: changeColor1 linear 4s 1 alternate;
}



@keyframes changeColor1
{
    0%
    {
        color: #fff;
    }
    50%
    {
        color: rgba(0,0,0,0.0);
    }
    100%
    {
        color: #fff;
    }
}




.wpark .two
{
    position: absolute;
    font-size: 1.3em;
    color: #fff;
    margin-top: 6.5rem;
}




.wpark .three
{
    position: absolute;
    font-size: 1.4em;
    color: #fff;
    margin-top: 8rem;
}




.wpark .four
{
    position: absolute;
    font-size: 1.7em;
    color: #fff;
    margin-top: 9.5rem;
}






.wpark .bg 
{
    position: absolute;
    display: flex;
    justify-content: center;
}



.wpark .bg img 
{
    width: 135px;
    margin-top: 15rem;
}


.wpark .box 
{
    position: absolute;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    background: #ffdbda;
    border-radius: 20px;
    margin-top: 27rem;
}




.wpark .box h2
{
    position: absolute;
    font-size: 1.2em;
    color: #222;
    margin-top: 1rem;
}



.wpark .box .spon
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}



.wpark .box .spon img 
{
    width: 30px;
    margin: 0.5rem;
}




.wpark .knm
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 38rem;
}


.wpark .knm a 
{
    display: inline-block;
    padding: 13px 65px;
    background: #fff;
    color: #222;
    border-radius: 13px;
    font-size: 1.1em;
}





.wpark .reg
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 42rem;
}


.wpark .reg a 
{
    display: inline-block;
    padding: 13px 70px;
    background: rgba(255,255,255,0.5);
    color: #fff;
    border-radius: 13px;
    font-size: 1.1em;
}





/*********Register*********/


.register
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
  background: rgb(7,41,79);
background: linear-gradient(90deg, rgba(7,41,79,1) 0%, rgba(13,59,69,1) 100%);
}



.register h1
{
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    margin-top: 1rem;
}



.register h2
{
    position: absolute;
    font-size: 1em;
    color: rgba(255,255,255,0.6);
    margin-top: 4rem;
}



.register .regbox 
{
    position: absolute;
    width: 310px;
    height: 450px;
    display: block;
    background: rgba(255,255,255,0.8);
    border-radius: 20px;
    margin-top: 8rem;
}




.register .regbox .send 
{
    display: flex;
    justify-content: center;
}




.register .regbox .send h3
{
    position: absolute;
    font-size: 1.4em;
    color: #222;
    margin-top: 1.2rem;
}



.register .regbox form 
{
    display: block;
    margin-top: 4rem;
    padding: 15px;
}


.register .regbox form .name
{
    position: absolute;
    font-size: 1.3em;
}



.register .regbox form #fname, #lname
{
    width: 280px;
    height: 40px;
    color: #666;
    font-size: 1.1em;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-top: 0.7rem;
}



.register .regbox form p
{
    position: absolute;
    font-size: 1.2em;
    color: #444;
    margin-top: 1rem;
}


.register .regbox form .typ
{
    margin-top: 3rem;
}



.register .regbox form .button
{
    display: flex;
    justify-content: center;
}


.register .regbox form .button button
{
    display: inline-block;
    padding: 13px 65px;
    color: #fff;
    background: #7474BF;
    font-size: 1.1em;
    border-radius: 15px;
    border: none;
}




.register h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 45rem;
}





/********About********/


.about 
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: #fff;
}




.about h1
{
    position: absolute;
    font-size: 1.6em;
    color: #222;
    margin-top: 1.5rem;
}



.about h2
{
    position: absolute;
    font-size: 1.5em;
    color: #666;
    margin-top: 4.5rem;
}






.about .display
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}



.about .display img 
{
    width: 320px;
}



.about h3
{
    position: absolute;
    font-size: 1.6em;
    color: #666;
    margin-top: 24rem;
}




.about p
{
    position: absolute;
    font-size: 0.95em;
    color: #444;
    margin-top: 27rem;
    padding: 17px;
}



.about a 
{
    position: absolute;
    display: inline-block;
    padding: 13px 70px;
    font-size: 1.1em;
    color: #fff;
    background: rgb(255,79,111);
background: linear-gradient(90deg, rgba(255,79,111,1) 0%, rgba(255,191,63,1) 100%);
    border-radius: 13px;
    margin-top: 41rem;
}




/*******About2********/


.about2
{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.08);
}



.about2 h1
{
    position: absolute;
    font-size: 1.6em;
    color: #222;
    margin-top: 1.5rem;
}



.about2 h2
{
    position: absolute;
    font-size: 4em;
    color: #444;
    margin-top: 3.2rem;
}




.about2 .content {
    position: absolute;
    margin: 80px auto;
    max-width: 550px;
    margin-top: 9rem;
}
.about2 .accordion__item {
    background: #fffffe;
    border-radius: 4px;
}
.about2 .accordion__item:not(:last-child) {
    margin-bottom: 15px;
}
.about2 .accordion__header {
    padding: 20px;
    padding-right: 80px;
    font-size: 1.25rem;
    color: #094067;
    top: 0;
    bottom: 0;
    position: relative;
    cursor: pointer;
}
.about2 .accordion__header::after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    background: url("https://cdn.statically.io/gist/koptyaisky/33f5da3d9e6b6cacdf5a353ad033c2ea/raw/c8468a17e0141ee82a2571deea1f76162abb47b6/arrow-down-blue.svg") no-repeat center;
    background-size: contain;
    transition: all .4s ease;
}



.about2 .accordion__body {
    padding: 0 40px 20px 20px;
    font-size: 0.875rem;
    color: #5f6c7b;
    line-height: 1.5;
    display: none;
}
.about2 .open-accordion .accordion__body {
    display: block;
}
.about2 .open-accordion .accordion__header::after {
    transform: rotate(-180deg);
}



.about2 img 
{
    position: absolute;
    width: 155px;
    margin-top: 39rem;
}




.about2 h5
{
    position: absolute;
    font-size: 0.8em;
    color: #222;
    margin-top: 48.5rem;
}






/********More*********/


.more 
{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    background: #fff;
}




.more h1 
{
    position: absolute;
    font-size: 1.6em;
    color: #222;
    margin-top: 1rem;
}




.more .more1
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}




.more .more1 img 
{
    width: 180px;
}




.more .ab 
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin-top: 25rem;
    padding: 15px;
}



.more .ab spanA
{
    font-size: 1.2em;
    color: rgb(7,41,79);
}



.more a 
{
    position: absolute;
    display: inline-block;
    padding: 13px 75px;
    font-size: 1.1em;
    border-radius: 13px;
    margin-top: 38rem;
    color: #fff;
    background: rgb(68,132,192);
background: linear-gradient(90deg, rgba(68,132,192,1) 6%, rgba(191,72,217,1) 100%);
}




.more h2
{
    position: absolute;
    font-size: 1.7em;
    color: #ff992f;
    margin-top: 45rem;
}




.more .boxd 
{
    position: absolute;
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff992f;
    border-radius: 15px;
    margin-top: 48rem;
}




.more .boxd #demo 
{
    position: absolute;
    font-size: 2em;
    color: #fff;
}



.more h5
{
    position: absolute;
    font-size: 0.8em;
    color: #222;
    margin-top: 61rem;
}





/*******Command*******/


.command 
{
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    background: rgb(7,41,79);
background: linear-gradient(90deg, rgba(7,41,79,1) 0%, rgba(13,59,69,1) 100%);
}



.command h1 
{
    position: absolute;
    font-size: 1.6em;
    color: #fff;
    margin-top: 1rem;
}



.command img 
{
    position: absolute;
    width: 150px;
    margin-top: 5rem;
}



.command .comb
{
    position: absolute;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    margin-top: 20rem;
}



.command .comb h2 
{
    position: absolute;
    font-size: 2.2em;
    color: #222;
    margin-top: 1rem;
    border-bottom: 6px solid #222;
    padding: 4px;
}



.command .comb h3
{
    position: absolute;
    font-size: 1.4em;
    color: #555;
    margin-top: 5rem;
}




.command .comb .pa
{
    position: absolute;
    font-size: 1.5em;
    color: #555;
    margin-top: 7rem;
}




.command .comb .po
{
    position: absolute;
    font-size: 4em;
    color: #555;
    margin-top: 8.5rem;
}




.command marquee 
{
    position: absolute;
    font-size: 0.9em;
    color: rgba(255,255,255,0.6);
    margin-top: 51rem;
}





.command a 
{
    position: absolute;
    display: inline-block;
    padding: 13px 75px;
    font-size: 1.1em;
    border-radius: 13px;
    margin-top: 38.5rem;
    color: #222;
    background: rgb(207,255,0);
background: linear-gradient(90deg, rgba(207,255,0,1) 6%, rgba(255,193,61,1) 100%);
}





.command p
{
    position: absolute;
    font-size: 1.2em;
    color: #fff;
    margin-top: 45rem;
}








/********Course********/


.course 
{
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
     background: rgb(68,132,192);
background: linear-gradient(90deg, rgba(68,132,192,1) 6%, rgba(191,72,217,1) 100%);
}



.course h1 
{
    position: absolute;
    font-size: 2.2em;
    color: #fff;
    margin-top: 0.6rem;
}





.course h2
{
    position: absolute;
    font-size: 1.7em;
    color: #444;
    margin-top: 3rem;
}








.course  .box 
{
    position: absolute;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    margin-top: 8rem;
}




.course  .box img 
{
    position: absolute;
    width: 70px;
    margin-top: 1rem;
}



.course  .box h3
{
    position: absolute;
    font-size: 1.3em;
    color: orange;
    margin-top: 8.5rem;
}



.course  .box a 
{
    position: absolute;
    display: inline-block;
    padding: 11px 35px;
    background: orange;
    color: #222;
    font-size: 1em;
    border-radius: 13px;
    margin-top: 10.5rem;
}




.course  .box2
{
    position: absolute;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    margin-top: 23rem;
}




.course .box2 img 
{
    position: absolute;
    width: 100px;
    margin-top: 1rem;
}



.course  .box2 h3
{
    position: absolute;
    font-size: 1.3em;
    color: #444;
    margin-top: 8.5rem;
}



.course .box2 a 
{
    position: absolute;
    display: inline-block;
    padding: 11px 35px;
    background: #444;
    color: #fff;
    font-size: 1em;
    border-radius: 13px;
    margin-top: 10.5rem;
}






.course  .box3
{
    position: absolute;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    margin-top: 38rem;
}




.course .box3 img 
{
    position: absolute;
    width: 165px;
    margin-top: 1rem;
}



.course  .box3 h3
{
    position: absolute;
    font-size: 1.3em;
    color: #9c55eb;
    margin-top: 8.5rem;
}



.course .box3 a 
{
    position: absolute;
    display: inline-block;
    padding: 11px 35px;
    background: #9c55eb;
    color: #fff;
    font-size: 1em;
    border-radius: 13px;
    margin-top: 10.5rem;
}




.course h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 58rem;
}








}













@media only screen and (max-width: 770px) {
    nav ul 
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #42427a;
        top: 54.3px;
        left: -100%;
        text-align: center;
        transition: all 0.6s;
    }
    
    nav li 
    {
        display: block;
    }
    
    nav li a 
    {
        font-size: 25px;
        transition: 0.3s;
        padding: 3px;
        color: #fff;
    }
    
    
    nav li a:hover
    {
        color: rgba(255,255,255,0.2);
        transition: 0.3s;
    }

    nav #icon .navbar {
        display: inline-block;
        float: right;
        padding: 3px;        
        
      }
    
    nav #icon
    {
        width: 1px;
         margin-left: 420px;
    }
    
    nav ul.show
    {
        left: 0;
    }


.wpark
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
  background: rgb(7,41,79);
background: linear-gradient(90deg, rgba(7,41,79,1) 0%, rgba(13,59,69,1) 100%);
}



.wpark .one
{
    position: absolute;
    font-size: 2em;
    color: #fff;
    margin-top: 5rem;
    line-height: 25px;
    font-family: 'Orelega One', cursive;
    animation: changeColor1 linear 4s 1 alternate;
}



@keyframes changeColor1
{
    0%
    {
        color: #fff;
    }
    50%
    {
        color: rgba(0,0,0,0.0);
    }
    100%
    {
        color: #fff;
    }
}




.wpark .two
{
    position: absolute;
    font-size: 1.3em;
    color: #fff;
    margin-top: 6.5rem;
}




.wpark .three
{
    position: absolute;
    font-size: 1.4em;
    color: #fff;
    margin-top: 8rem;
}




.wpark .four
{
    position: absolute;
    font-size: 1.7em;
    color: #fff;
    margin-top: 9.5rem;
}






.wpark .bg 
{
    position: absolute;
    display: flex;
    justify-content: center;
}



.wpark .bg img 
{
    width: 135px;
    margin-top: 15rem;
}


.wpark .box 
{
    position: absolute;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    background: #ffdbda;
    border-radius: 20px;
    margin-top: 27rem;
}




.wpark .box h2
{
    position: absolute;
    font-size: 1.2em;
    color: #222;
    margin-top: 1rem;
}



.wpark .box .spon
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}



.wpark .box .spon img 
{
    width: 30px;
    margin: 0.5rem;
}




.wpark .knm
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 38rem;
}


.wpark .knm a 
{
    display: inline-block;
    padding: 13px 65px;
    background: #fff;
    color: #222;
    border-radius: 13px;
    font-size: 1.1em;
}





.wpark .reg
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 42rem;
}


.wpark .reg a 
{
    display: inline-block;
    padding: 13px 70px;
    background: rgba(255,255,255,0.5);
    color: #fff;
    border-radius: 13px;
    font-size: 1.1em;
}





/*********Register*********/


.register
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
  background: rgb(7,41,79);
background: linear-gradient(90deg, rgba(7,41,79,1) 0%, rgba(13,59,69,1) 100%);
}



.register h1
{
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    margin-top: 1rem;
}



.register h2
{
    position: absolute;
    font-size: 1em;
    color: rgba(255,255,255,0.6);
    margin-top: 4rem;
}



.register .regbox 
{
    position: absolute;
    width: 310px;
    height: 450px;
    display: block;
    background: rgba(255,255,255,0.8);
    border-radius: 20px;
    margin-top: 8rem;
}




.register .regbox .send 
{
    display: flex;
    justify-content: center;
}




.register .regbox .send h3
{
    position: absolute;
    font-size: 1.4em;
    color: #222;
    margin-top: 1.2rem;
}



.register .regbox form 
{
    display: block;
    margin-top: 4rem;
    padding: 15px;
}


.register .regbox form .name
{
    position: absolute;
    font-size: 1.3em;
}



.register .regbox form #fname, #lname
{
    width: 280px;
    height: 40px;
    color: #666;
    font-size: 1.1em;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-top: 0.7rem;
}



.register .regbox form p
{
    position: absolute;
    font-size: 1.2em;
    color: #444;
    margin-top: 1rem;
}


.register .regbox form .typ
{
    margin-top: 3rem;
}



.register .regbox form .button
{
    display: flex;
    justify-content: center;
}


.register .regbox form .button button
{
    display: inline-block;
    padding: 13px 65px;
    color: #fff;
    background: #7474BF;
    font-size: 1.1em;
    border-radius: 15px;
    border: none;
}




.register h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 45rem;
}





/********About********/


.about 
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: #fff;
}




.about h1
{
    position: absolute;
    font-size: 1.6em;
    color: #222;
    margin-top: 1.5rem;
}



.about h2
{
    position: absolute;
    font-size: 1.5em;
    color: #666;
    margin-top: 4.5rem;
}






.about .display
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}



.about .display img 
{
    width: 320px;
}



.about h3
{
    position: absolute;
    font-size: 1.6em;
    color: #666;
    margin-top: 24rem;
}




.about p
{
    position: absolute;
    font-size: 0.95em;
    color: #444;
    margin-top: 27rem;
    padding: 17px;
}



.about a 
{
    position: absolute;
    display: inline-block;
    padding: 13px 70px;
    font-size: 1.1em;
    color: #fff;
    background: rgb(255,79,111);
background: linear-gradient(90deg, rgba(255,79,111,1) 0%, rgba(255,191,63,1) 100%);
    border-radius: 13px;
    margin-top: 41rem;
}




/*******About2********/


.about2
{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.08);
}



.about2 h1
{
    position: absolute;
    font-size: 1.6em;
    color: #222;
    margin-top: 1.5rem;
}



.about2 h2
{
    position: absolute;
    font-size: 4em;
    color: #444;
    margin-top: 3.2rem;
}




.about2 .content {
    position: absolute;
    margin: 80px auto;
    max-width: 550px;
    margin-top: 9rem;
}
.about2 .accordion__item {
    background: #fffffe;
    border-radius: 4px;
}
.about2 .accordion__item:not(:last-child) {
    margin-bottom: 15px;
}
.about2 .accordion__header {
    padding: 20px;
    padding-right: 80px;
    font-size: 1.25rem;
    color: #094067;
    top: 0;
    bottom: 0;
    position: relative;
    cursor: pointer;
}
.about2 .accordion__header::after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    background: url("https://cdn.statically.io/gist/koptyaisky/33f5da3d9e6b6cacdf5a353ad033c2ea/raw/c8468a17e0141ee82a2571deea1f76162abb47b6/arrow-down-blue.svg") no-repeat center;
    background-size: contain;
    transition: all .4s ease;
}



.about2 .accordion__body {
    padding: 0 40px 20px 20px;
    font-size: 0.875rem;
    color: #5f6c7b;
    line-height: 1.5;
    display: none;
}
.about2 .open-accordion .accordion__body {
    display: block;
}
.about2 .open-accordion .accordion__header::after {
    transform: rotate(-180deg);
}



.about2 img 
{
    position: absolute;
    width: 155px;
    margin-top: 39rem;
}




.about2 h5
{
    position: absolute;
    font-size: 0.8em;
    color: #222;
    margin-top: 48.5rem;
}







/********More*********/


.more 
{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    background: #fff;
}




.more h1 
{
    position: absolute;
    font-size: 1.6em;
    color: #222;
    margin-top: 1rem;
}




.more .more1
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}




.more .more1 img 
{
    width: 180px;
}




.more .ab 
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin-top: 25rem;
    padding: 15px;
}



.more .ab spanA
{
    font-size: 1.2em;
    color: rgb(7,41,79);
}



.more a 
{
    position: absolute;
    display: inline-block;
    padding: 13px 75px;
    font-size: 1.1em;
    border-radius: 13px;
    margin-top: 38rem;
    color: #fff;
    background: rgb(68,132,192);
background: linear-gradient(90deg, rgba(68,132,192,1) 6%, rgba(191,72,217,1) 100%);
}




.more h2
{
    position: absolute;
    font-size: 1.7em;
    color: #ff992f;
    margin-top: 45rem;
}




.more .boxd 
{
    position: absolute;
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff992f;
    border-radius: 15px;
    margin-top: 48rem;
}




.more .boxd #demo 
{
    position: absolute;
    font-size: 2em;
    color: #fff;
}



.more h5
{
    position: absolute;
    font-size: 0.8em;
    color: #222;
    margin-top: 61rem;
}






/*******Command*******/


.command 
{
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    background: rgb(7,41,79);
background: linear-gradient(90deg, rgba(7,41,79,1) 0%, rgba(13,59,69,1) 100%);
}



.command h1 
{
    position: absolute;
    font-size: 1.6em;
    color: #fff;
    margin-top: 1rem;
}



.command img 
{
    position: absolute;
    width: 150px;
    margin-top: 5rem;
}



.command .comb
{
    position: absolute;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    margin-top: 20rem;
}



.command .comb h2 
{
    position: absolute;
    font-size: 2.2em;
    color: #222;
    margin-top: 1rem;
    border-bottom: 6px solid #222;
    padding: 4px;
}



.command .comb h3
{
    position: absolute;
    font-size: 1.4em;
    color: #555;
    margin-top: 5rem;
}




.command .comb .pa
{
    position: absolute;
    font-size: 1.5em;
    color: #555;
    margin-top: 7rem;
}




.command .comb .po
{
    position: absolute;
    font-size: 4em;
    color: #555;
    margin-top: 8.5rem;
}




.command marquee 
{
    position: absolute;
    font-size: 0.9em;
    color: rgba(255,255,255,0.6);
    margin-top: 51rem;
}





.command a 
{
    position: absolute;
    display: inline-block;
    padding: 13px 75px;
    font-size: 1.1em;
    border-radius: 13px;
    margin-top: 38.5rem;
    color: #222;
    background: rgb(207,255,0);
background: linear-gradient(90deg, rgba(207,255,0,1) 6%, rgba(255,193,61,1) 100%);
}





.command p
{
    position: absolute;
    font-size: 1.2em;
    color: #fff;
    margin-top: 45rem;
}







/********Course********/


.course 
{
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
     background: rgb(68,132,192);
background: linear-gradient(90deg, rgba(68,132,192,1) 6%, rgba(191,72,217,1) 100%);
}



.course h1 
{
    position: absolute;
    font-size: 2.2em;
    color: #fff;
    margin-top: 0.6rem;
}





.course h2
{
    position: absolute;
    font-size: 1.7em;
    color: #444;
    margin-top: 3rem;
}








.course  .box 
{
    position: absolute;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    margin-top: 8rem;
}




.course  .box img 
{
    position: absolute;
    width: 70px;
    margin-top: 1rem;
}



.course  .box h3
{
    position: absolute;
    font-size: 1.3em;
    color: orange;
    margin-top: 8.5rem;
}



.course  .box a 
{
    position: absolute;
    display: inline-block;
    padding: 11px 35px;
    background: orange;
    color: #222;
    font-size: 1em;
    border-radius: 13px;
    margin-top: 10.5rem;
}




.course  .box2
{
    position: absolute;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    margin-top: 23rem;
}




.course .box2 img 
{
    position: absolute;
    width: 100px;
    margin-top: 1rem;
}



.course  .box2 h3
{
    position: absolute;
    font-size: 1.3em;
    color: #444;
    margin-top: 8.5rem;
}



.course .box2 a 
{
    position: absolute;
    display: inline-block;
    padding: 11px 35px;
    background: #444;
    color: #fff;
    font-size: 1em;
    border-radius: 13px;
    margin-top: 10.5rem;
}






.course  .box3
{
    position: absolute;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    margin-top: 38rem;
}




.course .box3 img 
{
    position: absolute;
    width: 165px;
    margin-top: 1rem;
}



.course  .box3 h3
{
    position: absolute;
    font-size: 1.3em;
    color: #9c55eb;
    margin-top: 8.5rem;
}



.course .box3 a 
{
    position: absolute;
    display: inline-block;
    padding: 11px 35px;
    background: #9c55eb;
    color: #fff;
    font-size: 1em;
    border-radius: 13px;
    margin-top: 10.5rem;
}




.course h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 58rem;
}



}






@media only screen and (max-width: 2770px)
{
    nav li a 
    {
        font-size: 1em;
        transition: 0.3s;
        padding: 3px;
        color: #fff;
    }
    
    nav li a:hover
    {
        color: rgba(255,255,255,0.2);
        transition: 0.3s;
    }

    
    nav ul.show
    {
        left: 0;
    }


.wpark
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
  background: rgb(7,41,79);
background: linear-gradient(90deg, rgba(7,41,79,1) 0%, rgba(13,59,69,1) 100%);
}



.wpark .one
{
    position: absolute;
    font-size: 2em;
    color: #fff;
    margin-top: 5rem;
    line-height: 25px;
    font-family: 'Orelega One', cursive;
    animation: changeColor1 linear 4s 1 alternate;
}



@keyframes changeColor1
{
    0%
    {
        color: #fff;
    }
    50%
    {
        color: rgba(0,0,0,0.0);
    }
    100%
    {
        color: #fff;
    }
}




.wpark .two
{
    position: absolute;
    font-size: 1.3em;
    color: #fff;
    margin-top: 6.5rem;
}




.wpark .three
{
    position: absolute;
    font-size: 1.4em;
    color: #fff;
    margin-top: 8rem;
}




.wpark .four
{
    position: absolute;
    font-size: 1.7em;
    color: #fff;
    margin-top: 9.5rem;
}






.wpark .bg 
{
    position: absolute;
    display: flex;
    justify-content: center;
}



.wpark .bg img 
{
    width: 135px;
    margin-top: 15rem;
}


.wpark .box 
{
    position: absolute;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    background: #ffdbda;
    border-radius: 20px;
    margin-top: 27rem;
}




.wpark .box h2
{
    position: absolute;
    font-size: 1.2em;
    color: #222;
    margin-top: 1rem;
}



.wpark .box .spon
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}



.wpark .box .spon img 
{
    width: 30px;
    margin: 0.5rem;
}




.wpark .knm
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 38rem;
}


.wpark .knm a 
{
    display: inline-block;
    padding: 13px 65px;
    background: #fff;
    color: #222;
    border-radius: 13px;
    font-size: 1.1em;
}





.wpark .reg
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 42rem;
}


.wpark .reg a 
{
    display: inline-block;
    padding: 13px 70px;
    background: rgba(255,255,255,0.5);
    color: #fff;
    border-radius: 13px;
    font-size: 1.1em;
}





/*********Register*********/


.register
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
  background: rgb(7,41,79);
background: linear-gradient(90deg, rgba(7,41,79,1) 0%, rgba(13,59,69,1) 100%);
}



.register h1
{
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    margin-top: 1rem;
}



.register h2
{
    position: absolute;
    font-size: 1em;
    color: rgba(255,255,255,0.6);
    margin-top: 4rem;
}



.register .regbox 
{
    position: absolute;
    width: 310px;
    height: 450px;
    display: block;
    background: rgba(255,255,255,0.8);
    border-radius: 20px;
    margin-top: 8rem;
}




.register .regbox .send 
{
    display: flex;
    justify-content: center;
}




.register .regbox .send h3
{
    position: absolute;
    font-size: 1.4em;
    color: #222;
    margin-top: 1.2rem;
}



.register .regbox form 
{
    display: block;
    margin-top: 4rem;
    padding: 15px;
}


.register .regbox form .name
{
    position: absolute;
    font-size: 1.3em;
}



.register .regbox form #fname, #lname
{
    width: 280px;
    height: 40px;
    color: #666;
    font-size: 1.1em;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-top: 0.7rem;
}



.register .regbox form p
{
    position: absolute;
    font-size: 1.2em;
    color: #444;
    margin-top: 1rem;
}


.register .regbox form .typ
{
    margin-top: 3rem;
}



.register .regbox form .button
{
    display: flex;
    justify-content: center;
}


.register .regbox form .button button
{
    display: inline-block;
    padding: 13px 65px;
    color: #fff;
    background: #7474BF;
    font-size: 1.1em;
    border-radius: 15px;
    border: none;
}




.register h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 45rem;
}





/********About********/


.about 
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: #fff;
}




.about h1
{
    position: absolute;
    font-size: 1.6em;
    color: #222;
    margin-top: 1.5rem;
}



.about h2
{
    position: absolute;
    font-size: 1.5em;
    color: #666;
    margin-top: 4.5rem;
}






.about .display
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}



.about .display img 
{
    width: 320px;
}



.about h3
{
    position: absolute;
    font-size: 1.6em;
    color: #666;
    margin-top: 24rem;
}




.about p
{
    position: absolute;
    font-size: 0.95em;
    color: #444;
    margin-top: 27rem;
    padding: 17px;
}



.about a 
{
    position: absolute;
    display: inline-block;
    padding: 13px 70px;
    font-size: 1.1em;
    color: #fff;
    background: rgb(255,79,111);
background: linear-gradient(90deg, rgba(255,79,111,1) 0%, rgba(255,191,63,1) 100%);
    border-radius: 13px;
    margin-top: 41rem;
}




/*******About2********/


.about2
{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.08);
}



.about2 h1
{
    position: absolute;
    font-size: 1.6em;
    color: #222;
    margin-top: 1.5rem;
}



.about2 h2
{
    position: absolute;
    font-size: 4em;
    color: #444;
    margin-top: 3.2rem;
}




.about2 .content {
    position: absolute;
    margin: 80px auto;
    max-width: 550px;
    margin-top: 9rem;
}
.about2 .accordion__item {
    background: #fffffe;
    border-radius: 4px;
}
.about2 .accordion__item:not(:last-child) {
    margin-bottom: 15px;
}
.about2 .accordion__header {
    padding: 20px;
    padding-right: 80px;
    font-size: 1.25rem;
    color: #094067;
    top: 0;
    bottom: 0;
    position: relative;
    cursor: pointer;
}
.about2 .accordion__header::after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    background: url("https://cdn.statically.io/gist/koptyaisky/33f5da3d9e6b6cacdf5a353ad033c2ea/raw/c8468a17e0141ee82a2571deea1f76162abb47b6/arrow-down-blue.svg") no-repeat center;
    background-size: contain;
    transition: all .4s ease;
}



.about2 .accordion__body {
    padding: 0 40px 20px 20px;
    font-size: 0.875rem;
    color: #5f6c7b;
    line-height: 1.5;
    display: none;
}
.about2 .open-accordion .accordion__body {
    display: block;
}
.about2 .open-accordion .accordion__header::after {
    transform: rotate(-180deg);
}



.about2 img 
{
    position: absolute;
    width: 155px;
    margin-top: 39rem;
}




.about2 h5
{
    position: absolute;
    font-size: 0.8em;
    color: #222;
    margin-top: 48.5rem;
}




/********More*********/


.more 
{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    background: #fff;
}




.more h1 
{
    position: absolute;
    font-size: 1.6em;
    color: #222;
    margin-top: 1rem;
}




.more .more1
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}




.more .more1 img 
{
    width: 180px;
}




.more .ab 
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin-top: 25rem;
    padding: 15px;
}



.more .ab spanA
{
    font-size: 1.2em;
    color: rgb(7,41,79);
}



.more a 
{
    position: absolute;
    display: inline-block;
    padding: 13px 75px;
    font-size: 1.1em;
    border-radius: 13px;
    margin-top: 38rem;
    color: #fff;
    background: rgb(68,132,192);
background: linear-gradient(90deg, rgba(68,132,192,1) 6%, rgba(191,72,217,1) 100%);
}




.more h2
{
    position: absolute;
    font-size: 1.7em;
    color: #ff992f;
    margin-top: 45rem;
}




.more .boxd 
{
    position: absolute;
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff992f;
    border-radius: 15px;
    margin-top: 48rem;
}




.more .boxd #demo 
{
    position: absolute;
    font-size: 2em;
    color: #fff;
}



.more h5
{
    position: absolute;
    font-size: 0.8em;
    color: #222;
    margin-top: 61rem;
}




/*******Command*******/


.command 
{
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    background: rgb(7,41,79);
background: linear-gradient(90deg, rgba(7,41,79,1) 0%, rgba(13,59,69,1) 100%);
}



.command h1 
{
    position: absolute;
    font-size: 1.6em;
    color: #fff;
    margin-top: 1rem;
}



.command img 
{
    position: absolute;
    width: 150px;
    margin-top: 5rem;
}



.command .comb
{
    position: absolute;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    margin-top: 20rem;
}



.command .comb h2 
{
    position: absolute;
    font-size: 2.2em;
    color: #222;
    margin-top: 1rem;
    border-bottom: 6px solid #222;
    padding: 4px;
}



.command .comb h3
{
    position: absolute;
    font-size: 1.4em;
    color: #555;
    margin-top: 5rem;
}




.command .comb .pa
{
    position: absolute;
    font-size: 1.5em;
    color: #555;
    margin-top: 7rem;
}




.command .comb .po
{
    position: absolute;
    font-size: 4em;
    color: #555;
    margin-top: 8.5rem;
}




.command marquee 
{
    position: absolute;
    font-size: 0.9em;
    color: rgba(255,255,255,0.6);
    margin-top: 51rem;
}





.command a 
{
    position: absolute;
    display: inline-block;
    padding: 13px 75px;
    font-size: 1.1em;
    border-radius: 13px;
    margin-top: 38.5rem;
    color: #222;
    background: rgb(207,255,0);
background: linear-gradient(90deg, rgba(207,255,0,1) 6%, rgba(255,193,61,1) 100%);
}





.command p
{
    position: absolute;
    font-size: 1.2em;
    color: #fff;
    margin-top: 45rem;
}







/********Course********/


.course 
{
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
     background: rgb(68,132,192);
background: linear-gradient(90deg, rgba(68,132,192,1) 6%, rgba(191,72,217,1) 100%);
}



.course h1 
{
    position: absolute;
    font-size: 2.2em;
    color: #fff;
    margin-top: 0.6rem;
}





.course h2
{
    position: absolute;
    font-size: 1.7em;
    color: #444;
    margin-top: 3rem;
}








.course  .box 
{
    position: absolute;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    margin-top: 8rem;
}




.course  .box img 
{
    position: absolute;
    width: 70px;
    margin-top: 1rem;
}



.course  .box h3
{
    position: absolute;
    font-size: 1.3em;
    color: orange;
    margin-top: 8.5rem;
}



.course  .box a 
{
    position: absolute;
    display: inline-block;
    padding: 11px 35px;
    background: orange;
    color: #222;
    font-size: 1em;
    border-radius: 13px;
    margin-top: 10.5rem;
}




.course  .box2
{
    position: absolute;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    margin-top: 23rem;
}




.course .box2 img 
{
    position: absolute;
    width: 100px;
    margin-top: 1rem;
}



.course  .box2 h3
{
    position: absolute;
    font-size: 1.3em;
    color: #444;
    margin-top: 8.5rem;
}



.course .box2 a 
{
    position: absolute;
    display: inline-block;
    padding: 11px 35px;
    background: #444;
    color: #fff;
    font-size: 1em;
    border-radius: 13px;
    margin-top: 10.5rem;
}






.course  .box3
{
    position: absolute;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    margin-top: 38rem;
}




.course .box3 img 
{
    position: absolute;
    width: 165px;
    margin-top: 1rem;
}



.course  .box3 h3
{
    position: absolute;
    font-size: 1.3em;
    color: #9c55eb;
    margin-top: 8.5rem;
}



.course .box3 a 
{
    position: absolute;
    display: inline-block;
    padding: 11px 35px;
    background: #9c55eb;
    color: #fff;
    font-size: 1em;
    border-radius: 13px;
    margin-top: 10.5rem;
}




.course h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 58rem;
}










}